{
        email ollama-caddy@qrk.us
        acme_ca https://acme-v02.api.letsencrypt.org/directory
        #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

ollama.ziti.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }

        reverse_proxy /* http://ollama:11434
}

cockpit.mira.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }

        reverse_proxy /* {
                to https://{$HOST_GATEWAY}:9090
                transport http {
                        tls
                        tls_insecure_skip_verify
                }
        }
}

www.ollama.mira.bingnet.cloud, www.ollama.ziti.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }

        reverse_proxy /* http://ziti-router:8080
}

output.stable.ziti.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }

        @local {
                remote_ip 127.0.0.1
                remote_ip ::1
        }

        handle @local {
                root * /mnt/comfy
                file_server browse
        }

        respond "Access denied" 403 {
        }
}

auto.stable.ziti.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }
        reverse_proxy /* http://auto.stable.private

}

comfy.stable.ziti.bingnet.cloud {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }

        log {
                output stdout
                format console
                level INFO
                #level DEBUG
        }
        reverse_proxy /* http://comfy.stable.private

}
